html{
	font-size:62.5%;
}
.well{
	padding:0;
}
.container{
	width: 100%;
	margin: 1vh 0;
	height:98vh;
}
.container>.row:nth-of-type(1){
	height:8%;
	margin-bottom:0;
	background-color: rgb(144,144,144);
	-ms-display:flex;
	display:flex;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content: right;
	-moz-justify-content: right;
	-ms-justify-content: right;
	-o-justify-content: right;
	justify-content: flex-end;
	border-radius:3px;
}
.row{
	position:relative;
}
.popover-title,.popover-content{
	text-align:center;
	position:relative;
}
.row span.glyphicon{
	font-size:2em;
	color:white;
	margin-right:0.8em;
}
.row span.glyphicon.glyphicon-search{
	font-size:initial;
	margin-right:0;
}
.row span.glyphicon.glyphicon-remove{
	color:grey;
	font-size: 1em;
	position:absolute;
	left:1;
	top:84%;
}
.row span.glyphicon.glyphicon-remove:hover{
	cursor:hand;
}
.description .glyphicon.glyphicon-pencil{
	font-size:1em;
}
.description .glyphicon.glyphicon-pencil:hover{
	cursor: hand;
}
.thead:nth-child(3){
	margin-right:-8.4em;
}
.row{
	margin: 0 0;
	height:10%;
	-ms-display:flex;
	display:flex;
	-ms-align-items:flex-end;
	align-items:flex-end;
}
.thead{
	text-align: center;
	padding:1px;
	font-weight:bold;
	display:table-cell;
	vertical-align: bottom;
	color:white;
}
.thead>span{
	font-size:1.3em;
	font-style:italic;
}
.tbody{
	height:92%;
	border:1px solid lightgrey;
}
.tbody.well{
	padding:.5%;
}
.tbody .col-sm-4{
	height:98%;
	border-right:1px solid lightgrey;
	overflow:auto;
}
.tbody .col-sm-4::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.tbody .col-sm-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.tbody .col-sm-4::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.tbody .col-sm-4:nth-child(1)::-webkit-scrollbar-thumb{
	background: rgba(255,50,50,0.6); 
}
.tbody .col-sm-4:nth-child(2)::-webkit-scrollbar-thumb{
	background: rgba(255,215,54,0.6); 
}
.tbody .col-sm-4:nth-child(3)::-webkit-scrollbar-thumb{
	background: rgba(72,183,109,0.6); 
}

.tbody .col-sm-4:nth-child(3){
	border:0;
}
.tbody .col-sm-4 .col-sm-2{
	margin:1%;
	padding:0 1%;
	min-height:14%;
	width:48%;
	background-color:green;
	border:1px solid black;
	word-wrap:break-word;
	font-family:sans-serif;
	border-radius:15px;
	box-shadow: 3px 3px 5px #888888;
	font-style:italic;
}
.tbody .col-sm-4 .col-sm-2 span{
	font-style:normal;
}
.description{
	font-weight:bold;
}
.tbody .col-sm-4:nth-child(1) .col-sm-2{
	background: -webkit-linear-gradient(#FF3232,#FAE6E6);
    background: -o-linear-gradient(#FF3232,#FAE6E6);
    background: -moz-linear-gradient(#FF3232,#FAE6E6);
	background: linear-gradient(#FF3232,#FAE6E6);
}
.tbody .col-sm-4:nth-child(2) .col-sm-2{
	background: -webkit-linear-gradient(#FFD736,#FFFAE6);
    background: -o-linear-gradient(#FFD736,#FFFAE6);
    background: -moz-linear-gradient(#FFD736,#FFFAE6);
	background: linear-gradient(#FFD736,#FFFAE6);
}
.tbody .col-sm-4:nth-child(3) .col-sm-2{
	background: -webkit-linear-gradient(#48B76D,#E6F5EB);
    background: -o-linear-gradient(#48B76D,#E6F5EB);
    background: -moz-linear-gradient(#48B76D,#E6F5EB);
	background: linear-gradient(#48B76D,#E6F5EB);
}
input,textarea{
	margin:3px;
}
.modal-content{
	width:60%;
	margin:auto;
}
.progress{
	height:11px;
	margin-bottom:5px;
}
.progress-bar>span{
	display:block;
	margin-top:-4px;
}